{% extends 'index.html' %}

{% block content %}
      <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Donacion</h2>
<p>Vea el video a continuación para colaborar con nosotros</p>
          {% load embed_video_tags %}
        {% for n in  video %}
        <div id="video" style="width: 480px;height: 320px;display: block;">


                    <h5>Publicidad</h5><br>
                    {% video n.url '100%x100%' %}<br>

        </div>
        {% endfor %}
      <br><br>
          {% for lib in libro %}
       <script type="application/javascript">
                    /* Determinamos el tiempo total en segundos */
    var totalTiempo=30;
    /* Determinamos la url donde redireccionar */
    var id="LINK";

    function updateReloj()
    {
        document.getElementById(id).innerHTML = "Podrá leer en "+totalTiempo+" segundos";

        if(totalTiempo==0)
        {
            document.getElementById("LINK").innerHTML = "<a href='{% url 'Leer' pk=lib.id %}'>Leer aqui</a>";


        }else{
            /* Restamos un segundo al tiempo restante */
            totalTiempo-=1;
            /* Ejecutamos nuevamente la función al pasar 1000 milisegundos (1 segundo) */
            setTimeout("updateReloj()",1000);
        }
    }

    window.onload=updateReloj;

    </script>
      <div id="LINK">
</div>


      {% endfor %}
                                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >

    </div>
    </div>
</div>


{% block ads%}
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-6" style="width: 100%" >
        <h3>Publicidad</h3>
        <br>
        <center>
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=12&l=ur1&category=libros&banner=19FFR57F89M437418E82&f=ifr&linkID=251a7bd0cc83365c7489df2dabcf6a5b&t=akash111109-21&tracking_id=akash111109-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

</center>
    </div>
    </div>
</div>
</div>
{% endblock%}


</article></div>
                    </div>
                </div>
            </div>

{% endblock %}
