{% extends 'index.html' %}
{% block content %}
 <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Subastas</h2>
                                                
                                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >
    <h5>Registro/Login</h5><br>



      {% if user.is_authenticated %}
        Logueado como" : {{ user.username }}
        (<a href="{% url 'LogOut' %}">Log out</a> |
        <a href="{% url 'auth_password_change' %}">Cambiar contraseña</a>)
    {% else %}
        <form method="post" action="" style="width: 30%">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="Log In" />

</form>

<p>Olvidaste la contraseña <a href="{% url 'auth_password_reset' %}">Resetear</a>!</p>
<p>No eres miembro <a href="{% url 'django_registration_register' %}">Registrarse</a>!</p>
    {% endif %}









        <br><br>
        <p>Ninguna Disponible</p>
    </div>
    </div>
</div>
{% block ads%}
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-6" style="width: 100%" >
        <h3>Publicidad</h3>
        <br>
        <center>
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=12&l=ur1&category=libros&banner=19FFR57F89M437418E82&f=ifr&linkID=251a7bd0cc83365c7489df2dabcf6a5b&t=akash111109-21&tracking_id=akash111109-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

</center>
    </div>
    </div>
</div>
</div>
{% endblock%}

</article></div>
                    </div>
                </div>
            </div>

{% endblock %}