{% extends 'index.html' %}

{% block content %}
      <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Exito en el pedido</h2>

                                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >
        Le mandaremos un email respecto a su pedido,<br> si tiene alguna duda sobre la fecha de lanzamiento, puede llamar a este número:<br> <strong>+34 676 99 99 16</strong><br>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%" >
        <h2>Publicidad</h2>
    </div>
    </div>
</div>
</div>


</article></div>
                    </div>
                </div>
            </div>

{% endblock %}
